.tab-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .hr-rule {
    background-color: #000;
    height: 2px;
    width: 6rem;
    padding: 0;
  }
}

@import "./tab-content.scss";
