footer {
  color: #494949;
  background-color: #f1f1f1;
  position: relative;

  img {
    padding: 0.5rem;
  }

  ul {
    margin: 0;
    padding: 0;

    .footer-li {
      list-style-type: none;
      word-spacing: 0;
      margin-top: 1rem;

      .footer-link,
      .light-text {
        color: #6a6a6a;
        text-decoration: none;

        &:hover {
          color: #a749ff;
        }
      }
    }
  }

  form {
    color: inherit;
    margin: 0;
    input {
      margin-bottom: 1rem;
    }

    button {
      border: none;
      text-decoration: underline;
      color: inherit;

      &:hover {
        color: #a749ff;
      }
    }
  }

  .scroll-up {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    background-color: #a749ff;
    color: #fff;
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 50%;
  }
}
